<h1>Welcome to MIDAS!</h1>
<h2>The Member Information Database and Authorisation Suite.</h2>

<ul>
  <li>
    <%= link_to("Persons", persons_path) %>
    <%= link_to("Members", persons_path(filter: :members)) %>
  </li>
  <li>
    Trustees
  </li>
  <li>
    <%= link_to("Keysets", keysets_path) %>
  </li>
</ul>
